<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>237616889558-d7noslh034ivf8m7lujq9jfgfc7eaalj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237616889558-d7noslh034ivf8m7lujq9jfgfc7eaalj</string>
	<key>API_KEY</key>
	<string>AIzaSyBz6c5m-yPvRLQEDg1hl1nejvZlh4DucHs</string>
	<key>GCM_SENDER_ID</key>
	<string>237616889558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UCBMUN.UCBMUNXXII</string>
	<key>PROJECT_ID</key>
	<string>ucbmunxxii</string>
	<key>STORAGE_BUCKET</key>
	<string>ucbmunxxii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237616889558:ios:ddfa75e5501f86b8</string>
	<key>DATABASE_URL</key>
	<string>https://ucbmunxxii.firebaseio.com</string>
</dict>
</plist>